## Misc.
*.old
*~

## Vim files
*.swp

## C
*.[ao]
*.lib
*.ko
*.dll
*.so
*.so.*
*.dylib

## Tags
tags
.tags

## Various dirs.
doc/
obj/
bin/
bytecode/

## Executables
a.out
*.exe
*.out
*.app

## Lex and Yacc files.
y.*
y.*.*
*.yy.cc
wave_yacc.*
wave_preprocessor.c
src/wave/lex/wave_lex.c

## Wave compiler executables
wave2c
wavepp

# Wave intermediary files
*.wpp

## Examples
examples/*.c
examples/*.wave_pp
examples/a.out
# Examples binaries
examples/fibonacci
examples/gcd
examples/list_reversal
examples/pascal_triangle
examples/recursion
examples/tree_rotation
examples/vector_addition

